.button {
  border-radius: 12px;
  padding: 20px;
  transition: opacity 0.6s;
  cursor: pointer;
}

.button:hover {
  opacity: 0.7;
}
.button:active {
  opacity: 0.4;
}

.outline {
  border: 1px solid #775ce5;
  font-size: 16px;
  color: #775ce5;
}

.small {
  padding: 16px;
}

.fill {
  background-color: #775ce5;
  color: #fff;
  font-size: 16px;
}

.danger {
  border: 1px solid #f23152;
  color: #f23152;
}
