.hero {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: stretch;
  padding: 20px;
  background-image: url("./svg/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  border-radius: 0px 0px 48px 48px;
  margin-bottom: 65px;
  position: relative; /* добавлено */
}

.title {
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  align-self: center;
}

.text {
  color: #fff;
  font-size: 20px;
  align-self: center;
}

.img {
  position: absolute;
  object-fit: contain;
  width: 250%;
  height: 200%;
  left: -240px;
  top: -160px;
  pointer-events: none;
}

@media (max-height: 680px) {
  .img {
    left: -120px;
    top: -100px;
    width: 200%;
    height: 200%;
  }
}
